{{#each line.elements as |item|}}
    {{#if item.hasPlus}}
        <i id={{item.plusId }} class="fa fa-minus-square-o plus-icon" {{action 'toggleExpand' item.plusId}}></i>
    {{/if}}
    {{#if item.isBlank}}
        <span class={{item.class}}>
            &nbsp;&nbsp;
        </span>
    {{/if}}
    {{#unless item.isBlank}}
        <span style={{item.style}} class={{item.class}}>
            {{item.element}}
        </span>
    {{/unless}}
{{/each}}
{{#each line.lines as |item|}}
    <div data-id={{item.plusId }} class="new-line">
        {{ember-line line=item toggleExpand='toggleExpand'}}
    </div>
{{/each}}